@{
    ViewData["Title"] = "ATM Locations";
}
<body>     
    <div class="mt-4" >
        <iframe 
          width="100%"
          height="530"
          style="border:0"
          loading="lazy"
          allowfullscreen
          referrerpolicy="no-referrer-when-downgrade"
          src="https://www.google.com/maps/embed/v1/search?key=AIzaSyDiNl0w0RWkEcZhbsDK-QoT9uQ-H7say_g&q=ATM+in+Sarajevo">
        </iframe>
    </div>
</body>
