@{
    ViewData["Title"] = "Home";
}
<div class="bg-image"
     style="
    background-image: url(/img/laptop_auto_x2.jpg);
    min-height: 80vh;
    background-size:cover;
  ">

    <div style=" display: flex; height:80vh;padding-left:4em;font-weight:bolder;
                align-items: center;" class="col-5 display-6 text-dark">
        Easily and securely access all your accounts whenever you want.
    </div>

</div>
