@{
    ViewData["Title"] = "Home Page";
}
<div
  class="bg-image"
  style="
    background-image: url('https://www.technology-solved.com/wp-content/uploads/2017/08/tips-for-buying-a-college-laptop-image.png');
    min-height: 80vh;
    background-size:cover;
  "
>

    <div style=" display: flex; height:80vh;padding-left:4em;font-weight:bolder;
                align-items: center;" class="col-5 display-6 text-dark" >
  Easily and securely access all your accounts whenever you want.
    </div>

</div>
