@{
    ViewData["Title"] = "My profile page";
}

<div class="text-center">
    <h1 class="display-4">Welcome @User.Identity.Name</h1>
    <ul>
        @foreach(var c in User.Claims)
        {
            <li>@c.Type: @c.Value </li>
        }
    </ul>
</div>
