@model E_Bank_FinalProject.Models.Account

@{
    ViewData["Title"] = "Dashboard";
}


<link rel="stylesheet" href="~/css/side.css" asp-append-version="true" />

<div class="wrapper">
    <nav id="sidebar" class="px-3">
        <ul class="list-unstyled components">
            <li>
                <a asp-controller="Accounts" asp-action="Dashboard">Dashboard</a>
            </li>
            <li>
                <a asp-controller="Users" asp-action="MyProfile">My profile</a>
            </li>
            <li>
                <a asp-controller="Accounts" asp-action="Index">Accounts</a>
            </li>
            <li>
                <a asp-controller="CreditCards" asp-action="Index">Credit cards</a>
            </li>
            <li>
                <a asp-controller="Transactions" asp-action="Index">Transactions</a>
            </li>
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" class="bg-light px-4">
        <h3 class="pt-3">Dashboard: </h3>
        <hr />
        <div>
            <div class="row" style="min-height:180px">
                <div class="col-sm well-md m-3 p-1" style="background-color:#f0f0f0; font-size:17pt">
                    Available funds:
                    <h3 class="w-100 h-100 text-center justify-content-center p-2">
                        @ViewBag.Available$
                    </h3>
                </div>
                <div class="col-sm well-md m-3 p-1" style="background-color:#f0f0f0; font-size:17pt">
                    Income:
                    <h3 class="w-100 h-100 text-center justify-content-center p-2">
                        @ViewBag.Income$
                    </h3>
                </div>
                <div class="col-sm well-md m-3 p-1" style="background-color:#f0f0f0; font-size:17pt">
                    Outcome:
                    <h3 class="w-100 h-100 text-center justify-content-center p-2">
                        @ViewBag.Outcome$
                    </h3>
                </div>
            </div>
        </div>

        <canvas id="myChart" style="width:100%; height:500px;"></canvas>

    </div>
</div>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
