@model E_Bank_FinalProject.Models.Transaction

@{
    ViewData["Title"] = "Add transaction";
}

<link rel="stylesheet" href="~/css/side.css" asp-append-version="true" />

<div class="wrapper">
    <nav id="sidebar" class="px-3">
        <ul class="list-unstyled components">
            <li>
                <a asp-controller="Users" asp-action="MyProfile">My profile</a>
            </li>
            <li>
                <a asp-controller="Accounts" asp-action="Index">Accounts</a>
            </li>
            <li>
                <a asp-controller="CreditCards" asp-action="Index">Credit cards</a>
            </li>
            <li>
                <a asp-controller="Transactions" asp-action="Index">Transactions</a>
            </li>
        </ul>
    </nav>
    <!-- Page Content  -->
    <div id="content" class="bg-light px-4">
        <h3 class="pt-3">Add new transaction: </h3>
        <hr />
        <div class="row">
            <div class="col-6">
                <form asp-action="AddTransaction">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Amount" class="control-label w-100 m-1"></label>
                        <input asp-for="Amount" class="form-control" />
                        <span asp-validation-for="Amount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="AccountID" class="control-label w-100 m-1">Account:</label>
                        <select asp-for="AccountID" class="form-control" asp-items="ViewBag.AccountID"></select>
                    </div>
                    <div class="form-group mt-4">
                        <input type="submit" value="Transfer" class="btn btn-dark w-100" />
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
